* {
    /* box-sizing: border-box; */
    margin:5px;
    padding:0px;
    
}

html {
    font-family: 'Garamond';
    font-size: 16px;
}

body {
    background-color: rgb(237, 238, 240);
    justify-items: center;
    justify-content: center;
    margin: auto;
}

.wrapper {
    background-color: rgb(237, 238, 240);
    padding-top: 1px;
    position: sticky;
    width: min(100%, 1000px);
    margin-top: 1px;
    margin-bottom: 1px;
    justify-content: 95%;
    z-index: 1;
    top: 0;
 }

.toplinks {
    display: flex;
    flex-wrap: wrap;
    background-color: black;
}

button {
    display: inline;
    font-size: 1rem;
    border-color: blue;
    width: auto;
    background-color: lightblue;
    a {
        color: black;
        text-decoration: none;
    }  
}  

.current {
    border-color: red;
    font-weight: bolder;
} 

.teamheader {
    display: grid;
    justify-content: left;
    grid-template-areas: "logo head1"
    "logo head2";
    h1 {
        grid-area: head1;
        color: darkred;
    }
    h2 {
        grid-area: head2;
    }
    .logo {
        grid-area: logo;
        width: 60px;
    }
}

main {
    display: grid;
    grid-template-columns: 50%;
    justify-content: left;
    grid-template-areas: "col-3";
}

.col-3 {
     grid-area: col-3;
     h2 {
        text-align: center;
     }
}

.container {
    border:1px solid black;
    background-color: white;
    border-radius: 15px;
    padding-top: 0;
    padding-left: 5px;
    padding-right: 5px;
    margin: 5px;
    overflow: hidden;
    width: fit-content;
 }

#Standings {
    color:black;
    text-align: left;
    grid-area: standings;
}

@media screen and (max-width: 1000px) {
    main {
        display: grid;
        grid-template-columns: 100%;
        width: 100%;
        justify-content: center;
        margin: 2px;
        grid-template-areas: "col-3";
    }
    .container {
        margin: 2px;
    }
    
}

@media screen and (max-width: 630px) {
    main {
        display: grid;
        grid-template-columns: 100%;
        width: 100%;
        justify-content: center;
        grid-template-areas: "col-3";
    }
    .container {
        margin: 2px;
    }
}

table {
    width: fit-content;
    th, td {
        width: fit-content;
        padding: 5px;
    }
}

tr:nth-child(odd) {
    background-color: white;
}

tr:nth-child(even) {
    background-color: lightgray;
}

th {
    color: black;
    text-align: center;  
}

td {
    color: black;
    text-align: center;
}

.team {
    text-align: left;
}

a:hover{
    color:white;
}

p{
    color:black;
}

footer {
    position:relative;
    bottom: 0;
}

.legends{
    margin: 0;
    padding: 0;
}

.twisters{
    margin: 0;
    padding: 0;
}

.bluethunder{
    margin: 0;
    padding: 0;
}

.goldengirls{
    margin: 0;
    padding: 0;
}

.unicorns{
    margin: 0;
    padding: 0;
}

.batitudes{
    margin: 0;
    padding: 0;
}
