* {
    /* box-sizing: border-box; */
    margin:10px;
    padding:0px;
    
}

html {
    font-family: 'Garamond';
}

body {
     /* background-image: url('softballbackground.png'); */
    background-color: rgb(237, 238, 240);
    min-width: 1000px;
    max-width: 1500px;
    justify-items: center;
    justify-content: center;
    margin: auto;
    /* background-repeat: repeat;
    background-size: cover; */


    
}

.myDiv1 {
    color: black;
    text-align: center;
}

main {
    display: grid;
    grid-template-rows: repeat(5 20%);
    grid-template-columns: 30% 40% 30%;
    max-width: 1500px;
    justify-content: center;
    grid-template-areas: "schedule news roster"
    "schedule news roster"
    "results news roster"
    "links links links"
    "links links links";
}

.container {
    border:3px solid black;
    background-color: white;
    border-radius: 15px;
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;

    
}

#Roster{
    color:black;
    text-align: left; 
    grid-area: roster;
    /* grid-column: 3 / span 1;
    grid-row: 1 / span 3; */
    /* width: 150px;
    flex-grow:0.5;
    max-width: 200px;  
    flex-shrink: 1;   */
}

#Notes{
    color:black;
    text-align: left;
    grid-area: news;
    /* grid-area: 1 / 2 / span 3 / 2;  */
    /* width: 400px;
    flex-grow: 1; 
    max-width:700px; */
}

#Games{
    color:black;
    text-align: left;
    grid-area: schedule;
    /* width: 300px; */
    /* flex-grow: 1;
    max-width: 400px;
    flex-shrink: 2;     */
}    

#Results{
    color:black;
    text-align: left;
    /* grid-area: 2 / 1 / span 2 / 1; */
    grid-area: results;
}  

#undermain{
    color:black;
    text-align: left;
    grid-area: links;
    /* grid-area: 4 / 1 / 6 / span 4; */
    display: flex;
    h1 {
        text-align: center;
        align-content: center;
    }
} 

iframe {
    display: flex;
    align-content: right;
}

/* section{
    border:3px solid black;
    background-color: orange;
    border-radius: 15px;
    width: 250px;
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px;
} */

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    position: relative;
    top: 0px;
    left: 0px;
}

dialog {
    border: 5px outset red;
    font-family: cursive;
    margin: auto;
    padding: 5px;
}

th {
    color: black;
    text-align: center;
    background-color: white;    
}

td {
    background-color: white;
    color: black;
    text-align: center;
}

a:hover{
    color:darkorange;
}

.kidnames{
    color:black;
}

p{
    color:black;
}

.twisters{
    color:black;
    font-weight: bold;
}

footer {
    position:fixed;
    bottom: 0;
}
