* {
    /* box-sizing: border-box; */
    margin:10px;
    padding:0px;
    
}

html {
    font-family: 'Garamond';
}

button {
    display:flex-inline;
    font-size: 20px;
    border-color: blue;
    width: auto;
}

a {
    text-decoration: none;
}

body {
     /* background-image: url('softballbackground.png'); */
    background-color: rgb(237, 238, 240);
    min-width: 1300px;
    max-width: 1500px;
    justify-items: center;
    justify-content: center;
    margin: auto;
    /* background-repeat: repeat;
    background-size: cover; */
}

.pichead {
    display: flex;
    max-height: 300px;
    min-height: 200px;
    min-width: 1300px;
    align-items: center;
    justify-content: space-between;

}

.ball1 {
    display: flex;
    width: 33%;
    height: 300px;
    position: relative;
    left: 30px;
    /* margin-left: auto;
    margin-right: auto; */
    /* width: 50%; */
}

.center {
    display: flex;
    width: 25%;
    height: 300px;
    /* margin-left: auto;
    margin-right: auto; */
    /* width: 50%; */
    position: relative;
}

.ball2 {
    display: flex;
    width: 33%;
    height: 300px;
    position: relative;
    right: 30px;
    /* margin-left: auto;
    margin-right: auto; */
    /* width: 50%; */
}
    
.myDiv1 {
    color: black;
    text-align: center;
}

main {
    display: grid;
    grid-template-rows: repeat(5 20%);
    grid-template-columns: 35% 50% 15%;
    max-width: 1500px;
    justify-content: center;
    grid-template-areas: "schedule news roster"
    "schedule news roster"
    "schedule news roster"
    "links news roster"
    "links news roster";
}

.container {
    border:3px solid black;
    background-color: white;
    border-radius: 15px;
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;

    
}

#Roster{
    color:black;
    text-align: left; 
    grid-area: roster;
    /* grid-column: 3 / span 1;
    grid-row: 1 / span 3; */
    /* width: 150px;
    flex-grow:0.5;
    max-width: 200px;  
    flex-shrink: 1;   */
}

#Notes{
    color:black;
    text-align: left;
    grid-area: news;
    /* grid-area: 1 / 2 / span 3 / 2;  */
    /* width: 400px;
    flex-grow: 1; 
    max-width:700px; */
}

#Games{
    color:black;
    text-align: left;
    grid-area: schedule;
    /* width: 300px; */
    /* flex-grow: 1;
    max-width: 400px;
    flex-shrink: 2;     */
}    

#undermain{
    grid-area: links;
} 

iframe {
    display: flex;
    align-content: right;
}

.schedulebox .game {
    display: flex;
    flex-wrap: nowrap;
    border: 1px solid lightgray;
    margin: 5px 0;
    a {
        color: red;
        font-weight: bold;
    }
    /* grid-template-rows: 50px 50px;
    grid-template-columns: 2fr 1fr; */
}


.oppy {
    display: flex;
    flex: 50%;
    flex-wrap: wrap;
}

.time {
    display: flex;
    flex: 30%;
    flex-wrap: nowrap;
}

.field {
    display: flex;
    flex: 20%;
    flex-wrap: nowrap;

}

/* section{
    border:3px solid black;
    background-color: orange;
    border-radius: 15px;
    width: 250px;
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px;
} */



dialog {
    border: 5px outset red;
    font-family: cursive;
    margin: auto;
    padding: 5px;

}

th {
    color: black;
    text-align: center;
    background-color: white;    
}

td {
    background-color: white;
    color: black;
    text-align: center;
}

a:hover{
    color:darkorange;
}

.kidnames{
    color:black;
    font-size:larger;
}

p{
    color:black;
}

.twisters{
    color:black;
    font-weight: bold;
}

footer {
    position:relative;
    bottom: 0;
}
